
/* ------------------------------- type */

body {

	min-width: 750px;

	padding: 32px;

	line-height: 18px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	
	background-color: white;
}

h1 {
	float: left;
	clear: both;
	
	display: block;
	
	border-top: 1px solid black;
	width: 100%;
	
	padding-top: 2px;
	
	font-size: 14px;
	font-weight: bold;
	
}

h2 {
	font-size: 14px;
	line-height: 20px;
}

p {
	margin-top: 5px;
	font-size: 12px;
}

a {
	font-weight: bold;
}

/* ------------------------------- header */

header {
	line-height: 42px;
	
	float: left;
	clear: both;
	
	width: 100%;
}

header a {

	background-image: url("../img/thingsoup-logo-small.png");
	
	width: 118px;
	height: 34px;
	
	float: left;
	
	margin-right: 32px;
	
	font-size: 0px;
}

header nav a {
	background-image: none;
	width: auto;
	height: auto;
	margin-right: 8px;
	
	font-size: 12px;
}

header form label {
	display: none;
}

header form {
	float: left;
}

header {
	height: 50px;
}

header nav {
	float: right;
}

header nav li {
	float: left;
}

/* ------------------------------- thing:show / thing:new / thing:edit */

fieldset {
	float: left;
	clear: both;
}

legend {
	display: none;
}

dl {
	float: left;
	clear: both;
	
	padding-top: 5px;
	padding-left: 13px;
	padding-bottom: 100px;
	
	width: 600px;
	
	margin-left: 93px;
	margin-top: 30px;
}

dd, dt {
	margin-top: 8px;
	float: left;
	padding: 0px;
}

dt {
	font-weight: bold;
	text-align: right;
	clear: both;
	width: 150px;
}

dd {
	text-align: left;
	width: 385px;
	margin-left: 15px;
}

dd input, dd textarea, dd select {
	float: left;
	width: 100%;
}

dd textarea {
	height: 100px;
	font-family: inherit;
	font-size: inherit;
}

dt.title {
	background-image: url("../img/box-big.png");
	background-repeat: no-repeat;
	background-position: 100px 0px;
	height: 46px;
}

dd.title {
	height: 46px;
	margin-top: 19px;
}

dt.title span, dt.description, dt.qr {
	visibility: hidden;
}

dd.qr {
	margin-top: 32px;
}

dt.uuid, dd.uuid, dt.type, dd.type {
	display: none;
}

dl .actions {
	margin-top: 30px !important;
}

dt.actions {
	visibility: hidden;
}

dd.actions input {
	width: auto;
}


/* ------------------------------- thing:list */

ul.things {
	margin-top: 15px;
	float: left;
	clear: both;
}

ul.things li {
	float: left;
	clear: both;
	
	min-width: 400px;
}

ul.things li img {
	float: left;
	
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	
	margin-bottom: 40px;
	margin-right: 15px;
	
	background-color: #eee;
}

ul.things li a {
}

ul.things li p {
	margin-top: 0px !important;
}

ul.things li input {
	float: left;
	margin-left: -2px;
	margin-top: 15px;
}

ul.things .uuid {
	font-size: 8pt;
	color: #aaa;
	white-space: nowrap;
	padding-top: 14px;
}

.main form #delete {
	float: right;
	clear: both;
	
	margin-top: 100px;
}