

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10.0pt;
	padding: 48px;
	border: 8px solid black;
	margin: 0px;
	float: left;
}

ul {
	list-style-type: none;
	clear: left;
	padding-left: 16px;
}

li.thing {
	line-height: 32px;
	margin-left: 0px;
	
}

li.thing img {
	position: relative;
	top: 12px;
	left: -2px;
}

.search-label div {
	vertical-align: middle;
	float: left;
	background-color: #a6a4a3;
	height: 18px;
	padding-left: 4px;
	padding-right: 4px;
}

.search-label img {
	float: left;
}

.taglist {
	margin-left: 42px;
	margin-top: -18px;
}

.tag {
	float: left;
}

.tag div {
	vertical-align: middle;
	float: left;
	background-color: #000000;
	color: #ffffff;
	height: 18px;
	padding-left: 4px;
	padding-right: 4px;
}

.tag img {
	float: left;
}

a {
	color: #333333;
}

a:hover {
	color: #ffffff;
	background-color: #666666;
}

.column-two-thirds {
	width: 600px;
	float: left;
}

.column-third {
	width: 200px;
	float: left;
}

#main {
	float: left;
	width: 100%;
}

#footer {
	clear: both;
	float: left;
	
	margin-top: 48px;
}

.auth {
	clear: both;
	float: left;
	margin-top: 64px;
}

.thing .key {
	font-weight: bold;
}
